<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="Conexion" connectionString="Data Source=PHERNANDEZD;Initial Catalog=SistemaOT;User ID=sa;Password=sa2016" providerName="System.Data.SqlClient" />-->
    <!--<add name="Conexion" connectionString="Data Source=DEVELOPER\DESARROLLO;Initial Catalog=SistemaOT;User ID=sa;Password=sa2017" providerName="System.Data.SqlClient" />-->
    <!--<add name="Conexion" connectionString="Data Source=192.141.48.65;Initial Catalog=Host_Emac;User ID=padministrador;Password=$4200i7#" providerName="System.Data.SqlClient" />-->
    <add name="Conexion" connectionString="Data Source=173.248.133.181,1533;Initial Catalog=host_emac;User ID=padministrador;Password=qzbvtug5aiphcsykfrlm" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="RemoteOnly" defaultRedirect="www.e-mac.cl"/>
  </system.web>

</configuration>
